<h1><%= gettext "New Video" %></h1>

<%= render "form.html", Map.put(assigns, :action, Routes.video_path(@conn, :create)) %>

<span><%= link gettext("Back"), to: Routes.video_path(@conn, :index) %></span>
