<h1><%= gettext "Show Video" %></h1>

<ul>

  <li>
    <strong><%= gettext "URL" %>:</strong>
    <%= @video.url %>
  </li>

  <li>
    <strong><%= gettext "Title" %>:</strong>
    <%= @video.title %>
  </li>

  <li>
    <strong><%= gettext "Description" %>:</strong>
    <%= @video.description %>
  </li>

</ul>

<span><%= link gettext("Edit"), to: Routes.video_path(@conn, :edit, @video) %></span>
<span><%= link gettext("Back"), to: Routes.video_path(@conn, :index) %></span>
